
.wiki-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /*width: 100%;*/
  /*height: 108px;*/
  padding: 16px 20px;
  border: 1px solid #F3F3F3;
  border-radius: 8px;
  gap: 5px;
  background-color: #fff;
}


.wiki-card-header {
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
  /*width: 100%;*/
}

.wiki-card-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.wiki-card-desc {
  font-size: 14px;
  color: #666;
}
